/* color pallete 1: https://colorhunt.co/palette/f6f5f5d3e0ea1687a7276678
F6F5F5,D3E0EA,1687A7,276678
 */

:root{
	/* Colors */
	--lighter: #D4C2FC;
	--light: #7353BA;
	--dark: #27173e;
	--darker: #070511;
	--lightTranpsarent: #7353BAD9;
	--darkTransparent: #0f0f23D9;
	
	/* Text animation section */
	--neon-text-color: rgb(255, 255, 255);
	--neon-border-color: rgb(106, 0, 255);
	--text-shadow-config:	-0.2rem -0.2rem 1.5rem #fff,	
							0.2rem 0.2rem 1.5rem #fff,
							-0.3rem -0.3rem 2rem var(--neon-border-color),
							0.3rem 0.3rem 2rem var(--neon-border-color);
	/* --height1: 0;
	--height2: -9.5vw;
	--height3: -19vw;
	--height4: -28.5vw;
	--height5: -38.5vw; */
	--height1: -3vw;
	--height2: -23vw;
	--height3: -45vw;
	--height4: -68vw;
	--height5: -90vw;
}

body{
	background-color: var(--darker);
    background-attachment: fixed;
	color: var(--lighter);
	font-family: 'Kurale', serif;
	font-size: 1.5rem;
	line-height: 1.5;
	/* margin: 2rem; */
}


/* --------------------------------------------------------------------------------------------------------------------------- */
/* Navbar */

nav{
	background-color: var(--lightTranpsarent);
	border-radius: 1rem;
	font-size: larger;
	font-weight: 800;
	margin: 1rem;
}

.navbar-brand{
	padding-left: 1rem;
}

.nav-item{
	padding-left: 1rem;
}

.nav-link{
	color: var(--lighter);
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* Sections */
.dark-section{
	background-color: var(--darker);
	padding: 50px;
}

.home-page{
	font-size: 14vw;
}

.light-section{
	background-color: var(--dark);
	padding: 50px;
	color: var(--lighter);
}

.centered{
	text-align: center;
}

.blue-emphasize{
	color: var(--dark);
	display: inline;
}

.white-emphasize{
	color: var(--lighter);
	display: inline;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* Footer */
.bold-text{
	font-weight: 600;
}

.footer{
	font-size: small;
	line-height: 1.5;
	padding: 0.5rem;
}

.socials-link{
	font-size: 2rem;
	line-height: 0;
}

.socials-link:hover{
	color: var(--lighter);
	cursor: pointer;
}

.text-link{
	color: var(--darker);
	font-weight: 600;
	margin: 1rem;
}

.text-link:hover{
	color: var(--lighter);
}



/* --------------------------------------------------------------------------------------------------------------------------- */
/* Text animation */
.animation {
	height: 16vw;
	overflow: hidden;
	font-family: 'Josefin Slab', serif;
	font-weight: 400;
	font-style: italic;
	/* margin-left: 0rem; */
}

.animation > div > div {
	/* padding: 0.1rem 0.5rem; */
	/* height: 10rem; */
	/* margin-bottom: 2.81rem; */
	display: inline-block;
	line-height: 2;
}  

.animation div:first-child {
	animation: text-animation 15s infinite;
}

@keyframes text-animation {
	0%{
		margin-top: var(--height1);
		color: var(--darker);
		text-shadow: none;
	}
	10%{
		margin-top: var(--height1);
		color: var(--neon-text-color);
		text-shadow: var(--text-shadow-config);
	}
	19%{
		margin-top: var(--height1);
		color: var(--darker);
		text-shadow: none;
	}
	20%{
		margin-top: var(--height2);
		color:var(--darker);
		text-shadow: none;
	}
	30%{
		margin-top: var(--height2);
		color: var(--neon-text-color);
		text-shadow: var(--text-shadow-config);
	}
	39%{
		margin-top: var(--height2);
		color: var(--darker);
		text-shadow: none;
	}
	40%{
		margin-top: var(--height3);
		color: var(--darker);
		text-shadow: none;
	}
	50%{
		margin-top: var(--height3);
		color: var(--neon-text-color);
		text-shadow: var(--text-shadow-config);
	}
	59%{
		margin-top: var(--height3);
		color: var(--darker);
		text-shadow: none;
	}
	60%{
		margin-top: var(--height4);
		color: var(--darker);
		text-shadow: none;
	}
	70%{
		margin-top: var(--height4);
		color: var(--neon-text-color);
		text-shadow: var(--text-shadow-config);
	}
	79%{
		margin-top: var(--height4);
		color: var(--darker);
		text-shadow: none;
	}
	80%{
		margin-top: var(--height5);
		color: var(--darker);
		text-shadow: none;
	}
	90%{
		margin-top: var(--height5);
		color: var(--neon-text-color);
		text-shadow: var(--text-shadow-config);
	}
	99%{
		margin-top: var(--height5);
		color: var(--darker);
		text-shadow: none;
	}
	100%{
		margin-top: var(--height1);
		color: var(--darker);
		text-shadow: none;
	}
	
}