<footer class="mt-auto">
	<div class="dark-section centered footer">
		{{year}}, developed by:
		<p class="bold-text">Enrique Martínez Fernández</p>
		<p><a href="https://mx.linkedin.com/"><i class="bi bi-linkedin socials-link"></i></a></p>
		This website was developed using
		<p>
			<a href="https://www.python.org/" class="text-link">Python</a>
			<a href="https://flask.palletsprojects.com/en/2.2.x/" class="text-link">Flask</a>
			<a href="https://getbootstrap.com/" class="text-link">Bootstrap</a>
		</p>
	
	</div>
</footer>
