{% extends "base.html" %}


{% block title %}
	Enrique's personal page
{% endblock %}


{% block content %}
	<div class="container-fluid dark-section centered">
		<h1 class="home-page">
			<!-- I'm <p class="blue-emphasize">Enrique</p> -->
			I'm
			<!-- <div class="screen">
				Enrique
			</div> -->
			<section class="animation">
				<div><div>Enrique</div></div>
				<div><div>an engineer</div></div>
				<div><div>designing</div></div>
				<div><div>coding</div></div>
				<div><div>learning</div></div>
			</section>
		</h1>
	</div>

	<!-- <div class="container-fluid light-section">
		<h1 class="subtitle">Welcome to my site</h1>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, ea vitae. Veniam ratione in ipsum laborum sapiente natus fugiat beatae quod cum, error facere, optio ea aut excepturi libero! Mollitia.
	</div>

	<div class="container-fluid dark-section">

		<h1>ASDF</h1>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio alias minima at non! Hic modi deleniti temporibus totam aspernatur eius omnis beatae fugit repellendus itaque animi quisquam officiis, reiciendis distinctio!
		Aspernatur necessitatibus magni aut quia. Maiores animi sint, sit alias suscipit officiis molestias cum voluptatum voluptas hic asperiores ipsa veniam deserunt odio velit at sunt ut optio odit porro exercitationem?
		Perspiciatis doloremque accusamus blanditiis non, exercitationem illo a dignissimos dolor optio necessitatibus suscipit dolorem inventore voluptates quibusdam nesciunt labore corrupti alias, fuga aliquam possimus iure id ullam! Dolorum, repellendus commodi!
		Debitis, fugiat exercitationem quis quo voluptatem sunt, est expedita consequuntur consectetur cupiditate eius commodi ratione ad necessitatibus, similique magnam iusto alias modi? Quia quos tempora at officiis consequatur aut adipisci.
		Quidem temporibus accusamus vero! Nulla dignissimos rerum odio quasi eos voluptate nam nemo laudantium animi iusto quos quia dolore eligendi maiores sapiente consequatur natus adipisci expedita repellat, laboriosam quod fuga?
		Esse, nesciunt quasi. Consequatur laboriosam dolorum nobis quisquam! Nisi dolorum tenetur omnis totam cum consectetur esse, vero quis dolores commodi vel sunt nobis voluptatum quos sequi inventore exercitationem aspernatur repellendus!
		Sunt, saepe totam. Facere laboriosam quia doloribus laborum numquam voluptate repellat rerum expedita aliquam velit! Doloremque quam nostrum, animi iure minima deleniti tempore rem delectus natus excepturi adipisci magni labore.
		Quas cum voluptatem odit delectus nemo aliquid rerum, iste pariatur, optio, atque debitis laudantium repellendus laboriosam ex voluptas? Odio, totam! Ex, debitis magni sapiente explicabo cupiditate reprehenderit dolore. Aspernatur, est!
		Quasi aut explicabo repellat, vitae odit voluptatem perferendis reiciendis, laboriosam beatae omnis fugiat dolore eligendi veritatis debitis distinctio, iusto delectus corrupti cumque praesentium inventore provident incidunt. Exercitationem eius iure itaque.
		Repellat pariatur repellendus fugit sit consectetur beatae alias porro quibusdam maiores animi assumenda sunt, minus deleniti facilis est, harum sed quae, corrupti ut aliquam. Praesentium, velit? Officia libero blanditiis architecto.
	</div>

	<div class="container-fluid light-section">
		<h1>JKLñ</h1>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur cum pariatur libero, sequi voluptatibus distinctio reiciendis magnam reprehenderit repellendus magni laudantium aperiam velit quas natus doloribus officia repudiandae architecto. Dolor.
		Dolorum eligendi unde veritatis voluptatum enim maxime ducimus alias quasi excepturi nobis ratione soluta officiis blanditiis maiores nihil, quibusdam nostrum laborum, velit debitis. Maxime ea pariatur rem harum sapiente placeat.
		Dicta cum, in, aut deserunt asperiores illum molestiae repellat repudiandae incidunt sunt quaerat, cupiditate voluptates. Illo quidem velit quo voluptatum voluptatibus quos? Consectetur nisi qui, veritatis perferendis dignissimos rerum totam?
		Aperiam et placeat illo accusantium. Vel recusandae quaerat maxime explicabo illum dolorem autem deserunt magni? Illum officiis repellendus accusamus autem eos sint nulla fugiat, obcaecati tempore animi. Fuga, voluptas distinctio.
		Consectetur, aliquid. In deleniti rerum sequi perferendis temporibus blanditiis quos sapiente tenetur laborum? Nemo aspernatur, tenetur culpa nisi libero facilis veritatis, accusamus, amet alias vel dolores explicabo aperiam adipisci illo!

		Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eaque sint voluptatibus rem assumenda totam ab cumque omnis quos numquam, delectus odio sapiente quas labore aspernatur, eum autem aut minus!
		Optio consequatur harum, dolores aperiam dignissimos illum facere fugiat aut voluptate blanditiis, veritatis sit beatae laborum placeat tempore natus unde exercitationem aspernatur voluptatibus rerum accusantium? Ipsam delectus iusto autem laborum?
		Sit, beatae blanditiis. Amet expedita deleniti, autem quam, hic quasi repellat odit libero, vero fugiat nulla temporibus? Iusto accusantium sint veniam nostrum ratione? Aliquid perspiciatis doloribus, voluptatibus enim nihil natus!
		Vel esse repellendus repellat amet, error veniam reiciendis qui aut ab possimus deleniti totam distinctio itaque voluptatibus iusto enim consectetur porro veritatis deserunt dolores. Temporibus sapiente iure architecto excepturi. Eveniet?
		Sint alias optio, vel molestiae hic perspiciatis, pariatur laudantium ad minus, illum nisi praesentium eaque. Voluptatum modi perferendis, obcaecati optio quas magni tempora autem voluptatibus, eveniet nesciunt quos deleniti maiores!

		Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem officiis porro molestias a explicabo similique veniam quia consequuntur? Dolores dolore minima ducimus quis facilis? Earum laboriosam dicta consequuntur fugiat delectus!
		Repudiandae, vero. Repudiandae, dolores? Cum, rem eligendi? Hic autem dolorem quos corrupti, quam vero deserunt inventore consectetur labore sed provident qui molestias facere debitis repudiandae iste voluptatibus exercitationem laborum necessitatibus!
		Ipsam accusamus rem pariatur architecto nisi facilis nihil. Quia totam iure alias expedita sit sint nesciunt, consequatur quo similique aut facere, ad molestias deleniti autem ut voluptatum saepe sequi delectus?
		Inventore fuga libero dolores incidunt? Eius deleniti saepe quidem in amet aliquam magni error iure, cumque cum praesentium tempora doloribus sequi quibusdam eum inventore quis voluptatum eligendi voluptatibus laboriosam! Nihil.
		Laudantium reiciendis, necessitatibus maxime sit odio incidunt similique placeat tenetur dolorum porro vitae quas nihil vel harum iure quibusdam non quam. Assumenda quaerat est consequuntur veritatis fugiat accusantium dignissimos. Nostrum!
	</div> -->

	<!-- {% include "footer.html" %} -->
	
{% endblock %}
	