{% extends "base.html" %}


{% block title %}
	Enrique's personal page
{% endblock %}


{% block content %}
	<div class="container-fluid centered">
		<h1 class="home-page">
			<!-- I'm <p class="blue-emphasize">Enrique</p> -->
			I'm
			<!-- <div class="screen">
				Enrique
			</div> -->
			<section class="animation">
				<div><div>Enrique</div></div>
				<div><div>an engineer</div></div>
				<div><div>designing</div></div>
				<div><div>coding</div></div>
				<div><div>learning</div></div>
			</section>
		</h1>
	</div>
	<!-- {% include "footer.html" %} -->
	
{% endblock %}
	