{% extends "base.html" %}


{% block title %}
	Enrique's personal page
{% endblock %}


{% block content %}
	<h1>ASDF</h1>
	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio alias minima at non! Hic modi deleniti temporibus totam aspernatur eius omnis beatae fugit repellendus itaque animi quisquam officiis, reiciendis distinctio!
	Aspernatur necessitatibus magni aut quia. Maiores animi sint, sit alias suscipit officiis molestias cum voluptatum voluptas hic asperiores ipsa veniam deserunt odio velit at sunt ut optio odit porro exercitationem?
	Perspiciatis doloremque accusamus blanditiis non, exercitationem illo a dignissimos dolor optio necessitatibus suscipit dolorem inventore voluptates quibusdam nesciunt labore corrupti alias, fuga aliquam possimus iure id ullam! Dolorum, repellendus commodi!
	Debitis, fugiat exercitationem quis quo voluptatem sunt, est expedita consequuntur consectetur cupiditate eius commodi ratione ad necessitatibus, similique magnam iusto alias modi? Quia quos tempora at officiis consequatur aut adipisci.
	Quidem temporibus accusamus vero! Nulla dignissimos rerum odio quasi eos voluptate nam nemo laudantium animi iusto quos quia dolore eligendi maiores sapiente consequatur natus adipisci expedita repellat, laboriosam quod fuga?
	Esse, nesciunt quasi. Consequatur laboriosam dolorum nobis quisquam! Nisi dolorum tenetur omnis totam cum consectetur esse, vero quis dolores commodi vel sunt nobis voluptatum quos sequi inventore exercitationem aspernatur repellendus!
	Sunt, saepe totam. Facere laboriosam quia doloribus laborum numquam voluptate repellat rerum expedita aliquam velit! Doloremque quam nostrum, animi iure minima deleniti tempore rem delectus natus excepturi adipisci magni labore.
	Quas cum voluptatem odit delectus nemo aliquid rerum, iste pariatur, optio, atque debitis laudantium repellendus laboriosam ex voluptas? Odio, totam! Ex, debitis magni sapiente explicabo cupiditate reprehenderit dolore. Aspernatur, est!
	Quasi aut explicabo repellat, vitae odit voluptatem perferendis reiciendis, laboriosam beatae omnis fugiat dolore eligendi veritatis debitis distinctio, iusto delectus corrupti cumque praesentium inventore provident incidunt. Exercitationem eius iure itaque.
	Repellat pariatur repellendus fugit sit consectetur beatae alias porro quibusdam maiores animi assumenda sunt, minus deleniti facilis est, harum sed quae, corrupti ut aliquam. Praesentium, velit? Officia libero blanditiis architecto.
{% endblock %}
	