{% extends "base.html" %}

{% block content %}
	<div class="container-fluid">
		<div class="text-center">
			<h1 class="portfolio-entry-title">{{ entry.title }}</h1>	
			<h2 class="portfolio-entry-subtitle">{{ entry.subtitle }}</h2>
		</div>
	</div>
	<div class="container-fluid portfolio-entry-body">
		<h3 class="portfolio-entry-date-and-tags">Posted by Enrique Martínez Fernández on {{ entry.date }}. Last edit on {{ entry.last_edit_date }}. <br> Tags: {{ entry.category_tag.replace(",", "/") }}</h3>
		{{ entry.body | safe}}
	</div>
{% endblock %}