{% extends "base.html" %}

{% block title %}
	Portfolio
{% endblock %}

{% block content %}

	<div class="container-fluid portfolio-container">
		
		<div class="row justify-content-center">

			<div class="col-sm-12 col-md-8">
			
				{% for entry in entries: %}

					<div class="card portfolio-card">
						<div class="card-body">
							<a class="portfolio-card-header" href=" {{ url_for('portfolio_entry', id = entry.id) }}">{{ entry.title }}</a>
							<h3 class="portfolio-card-subtitle">{{ entry.subtitle }}</h3>

							<hr class="hr-thick">
							<p>{{ entry.abstract }}</p>
							{% for tag in entry.category_tag.split(",") %}
								<p class="language-tag">{{ tag }}</p>
							{% endfor %}
							<p class="portfolio-card-date-tag">
								| entry date: {{ entry.date }}
								{% if current_user.is_authenticated: %}
									<a href="{{ url_for('edit_entry', id = entry.id) }}" class="edit-icon"><i class="bi bi-pencil-fill"></i></a>
									<a href="{{ url_for('delete_confirmation', id = entry.id) }}" class="edit-icon"><i class="bi bi-file-earmark-x-fill"></i></a>
								{% endif %}
							</p>
						</div>
					</div>

				{% endfor %}
			</div>
			
		</div>		


	</div>

{% endblock %}